<config platform="android" template="android (default)">Created: 周一 3月 24 14:40:51 2014&#xd;
By: Craig&#xd;
Using Template: android (default)&#xd;
&#xd;
&lt;description to go here><option name="android-icon-dir" fromDef="false" value="data/icons"/>
    <option name="android-icon-group" fromDef="false" value="-ldpi;&lt;generate>;-mdpi;&lt;generate>;-hdpi;&lt;generate>;-xhdpi;&lt;generate>"/>
    <option name="android-icon-gallery" fromDef="false" value="data/icons/icon170.png"/>
    <option name="android-icon-nonstandard" fromDef="true" value=""/>
    <option name="android-external-res" fromDef="true" value=""/>
    <option name="android-install-location" fromDef="true" value="1"/>
    <option name="android-pkgname" fromDef="false" value="cn.lihui.Daily2048"/>
    <option name="icon" fromDef="false" value="data/icons/icon170.png"/>
    <option name="splashscreen" fromDef="false" value=""/>
    <option name="splashscreen-use-all" fromDef="true" value=""/>
    <option name="splashscreen-auto-onblack" fromDef="true" value=""/>
    <option name="assets" fromDef="true" value="Default"/>
    <option name="embed-icf" fromDef="true" value=""/>
    <option name="config" fromDef="true" value="data/app.icf"/>
    <option name="name" fromDef="false" value="Daily2048"/>
    <option name="caption" fromDef="false" value="Daily2048"/>
    <option name="provider" fromDef="true" value="lihui"/>
    <option name="copyright" fromDef="true" value="(C) lihui"/>
    <option name="version" fromDef="false" value="0.0.1"/>
    <option name="version-string" fromDef="true" value=""/>
    <option name="android-manifest" fromDef="false" value="AndroidManifest.xml"/>
    <option name="android-custom-activity" fromDef="true" value=""/>
    <option name="android-extra-manifest" fromDef="true" value=""/>
    <option name="android-extra-application-manifest" fromDef="true" value="third_party/lihuiad_baidu/BaiduAd.xml"/>
    <option name="android-extra-strings" fromDef="true" value=""/>
    <option name="android-supports-gl-texture" fromDef="true" value=""/>
    <option name="android-unsigned" fromDef="true" value=""/>
</config>
