<config platform="android" template="android (default)">Created: 周一 3月 24 14:40:51 2014
By: Craig
Using Template: android (default)

&lt;description to go here><option value="data/icons" name="android-icon-dir" fromDef="false"/>
    <option value="-ldpi;&lt;generate>;-mdpi;&lt;generate>;-hdpi;&lt;generate>;-xhdpi;&lt;generate>" name="android-icon-group" fromDef="false"/>
    <option value="data/icons/icon170.png" name="android-icon-gallery" fromDef="false"/>
    <option value="" name="android-icon-nonstandard" fromDef="true"/>
    <option value="" name="android-external-res" fromDef="true"/>
    <option value="1" name="android-install-location" fromDef="true"/>
    <option value="cn.lihui.Daily2048" name="android-pkgname" fromDef="false"/>
    <option value="data/icons/icon170.png" name="icon" fromDef="false"/>
    <option value="" name="splashscreen" fromDef="false"/>
    <option value="" name="splashscreen-use-all" fromDef="true"/>
    <option value="" name="splashscreen-auto-onblack" fromDef="true"/>
    <option value="Default" name="assets" fromDef="true"/>
    <option value="" name="embed-icf" fromDef="true"/>
    <option value="data/app.icf" name="config" fromDef="true"/>
    <option value="Daily2048" name="name" fromDef="false"/>
    <option value="Daily2048" name="caption" fromDef="false"/>
    <option value="Craig" name="provider" fromDef="true"/>
    <option value="(C) Craig" name="copyright" fromDef="true"/>
    <option value="0.0.1" name="version" fromDef="false"/>
    <option value="" name="version-string" fromDef="true"/>
    <option value="AndroidManifest.xml" name="android-manifest" fromDef="false"/>
    <option value="" name="android-custom-activity" fromDef="true"/>
    <option value="" name="android-extra-manifest" fromDef="true"/>
    <option value="third_party/lihuiad_baidu/BaiduAd.xml" name="android-extra-application-manifest" fromDef="true"/>
    <option value="" name="android-extra-strings" fromDef="true"/>
    <option value="" name="android-supports-gl-texture" fromDef="true"/>
    <option value="" name="android-unsigned" fromDef="true"/>
</config>
