<config platform="android" template="android (default)">Created: 周一 3月 24 14:40:51 2014
By: Craig
Using Template: android (default)

&lt;description to go here><option fromDef="true" name="android-icon-dir" value=""/>
    <option fromDef="true" name="android-icon-group" value="-ldpi;&lt;none>;-mdpi;&lt;none>;-hdpi;&lt;none>;-xhdpi;&lt;none>"/>
    <option fromDef="true" name="android-icon-gallery" value=""/>
    <option fromDef="true" name="android-icon-nonstandard" value=""/>
    <option fromDef="true" name="android-external-res" value=""/>
    <option fromDef="true" name="android-install-location" value="1"/>
    <option fromDef="true" name="android-pkgname" value="com.Craig.TestGame"/>
    <option fromDef="true" name="icon" value=""/>
    <option fromDef="false" name="splashscreen" value=""/>
    <option fromDef="true" name="splashscreen-use-all" value=""/>
    <option fromDef="true" name="splashscreen-auto-onblack" value=""/>
    <option fromDef="true" name="assets" value="Default"/>
    <option fromDef="true" name="embed-icf" value=""/>
    <option fromDef="true" name="config" value="data/app.icf"/>
    <option fromDef="false" name="name" value="Daily2048"/>
    <option fromDef="false" name="caption" value="Daily2048"/>
    <option fromDef="true" name="provider" value="Craig"/>
    <option fromDef="true" name="copyright" value="(C) Craig"/>
    <option fromDef="true" name="version" value="0.0.1"/>
    <option fromDef="true" name="version-string" value=""/>
    <option fromDef="false" name="android-manifest" value=""/>
    <option fromDef="true" name="android-custom-activity" value=""/>
    <option fromDef="true" name="android-extra-manifest" value=""/>
    <option fromDef="true" name="android-extra-application-manifest" value=""/>
    <option fromDef="true" name="android-extra-strings" value=""/>
    <option fromDef="true" name="android-supports-gl-texture" value=""/>
    <option fromDef="true" name="android-unsigned" value=""/>
</config>
