<config platform="project" template="project (default)">Created: 周一 3月 24 14:40:50 2014
By: Craig
Using Template: project (default)

&lt;description to go here><option fromDef="true" name="icon" value=""/>
    <option fromDef="true" name="splashscreen" value=""/>
    <option fromDef="true" name="splashscreen-use-all" value=""/>
    <option fromDef="true" name="splashscreen-auto-onblack" value=""/>
    <option fromDef="true" name="assets" value="Default"/>
    <option fromDef="true" name="embed-icf" value=""/>
    <option fromDef="true" name="config" value="data/app.icf"/>
    <option fromDef="true" name="name" value="TestGame"/>
    <option fromDef="true" name="caption" value="TestGame"/>
    <option fromDef="true" name="provider" value="Craig"/>
    <option fromDef="true" name="copyright" value="(C) Craig"/>
    <option fromDef="true" name="version" value="0.0.1"/>
    <option fromDef="true" name="version-string" value=""/>
</config>
