<config template="project (default)" platform="project">Created: 周一 3月 24 14:40:50 2014
By: Craig
Using Template: project (default)

&lt;description to go here><option fromDef="true" value="" name="icon"/>
    <option fromDef="true" value="" name="splashscreen"/>
    <option fromDef="true" value="" name="splashscreen-use-all"/>
    <option fromDef="true" value="" name="splashscreen-auto-onblack"/>
    <option fromDef="true" value="Default" name="assets"/>
    <option fromDef="true" value="" name="embed-icf"/>
    <option fromDef="true" value="data/app.icf" name="config"/>
    <option fromDef="true" value="TestGame" name="name"/>
    <option fromDef="true" value="TestGame" name="caption"/>
    <option fromDef="true" value="lihui" name="provider"/>
    <option fromDef="true" value="(C) lihui" name="copyright"/>
    <option fromDef="true" value="0.0.1" name="version"/>
    <option fromDef="true" value="" name="version-string"/>
</config>
