<config platform="project" template="project (default)">Created: 周一 3月 24 14:40:50 2014
By: Craig
Using Template: project (default)

&lt;description to go here><option value="data/icons/icon170.png" name="icon" fromDef="false"/>
    <option value="" name="splashscreen" fromDef="true"/>
    <option value="" name="splashscreen-use-all" fromDef="true"/>
    <option value="" name="splashscreen-auto-onblack" fromDef="true"/>
    <option value="Default" name="assets" fromDef="true"/>
    <option value="" name="embed-icf" fromDef="true"/>
    <option value="data/app.icf" name="config" fromDef="true"/>
    <option value="Daily2048" name="name" fromDef="false"/>
    <option value="Daily2048" name="caption" fromDef="false"/>
    <option value="Craig" name="provider" fromDef="true"/>
    <option value="(C) Craig" name="copyright" fromDef="true"/>
    <option value="0.0.1" name="version" fromDef="true"/>
    <option value="" name="version-string" fromDef="true"/>
</config>
